#myMap {
    border-style: inset; 
    border-width: 5px; 
    border-color: #7f8284; 
    height: 510px;
    font-weight: 100;
    width: 1515px;
}.leaflet-popup-content p {
    margin: 0.2em 0;
    
}
.legend-control-container {
    width: 210px;
    height: 120px;
    background-color: rgba(255,255,255,0.8);
    padding: 15px;  
    line-height: 0.01px;  
    text-align: center;  
    border: solid gray 1px;
    border-style: inset; 
    border-width: 3px; 
    border-color: #7f8284; 
}.temporalLegend{
    font-size: 20px;
}


.sequence-control-container {  
    width: 350px;  
    height: 35px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 55px;  
    text-align: center;  
    border: solid gray 1px;  
    border-style: inset; 
    border-width: 3px; 
    border-color: #7f8284; 
}  

.range-slider {  
    width: 250px;  
    
}  

.step {  
    width: 40px; 
    border-style: inset; 
    border-width: 3px; 
    border-color: #7f8284; 
}  

.step img {  
    width: 100%;  
    height: auto;  
} 
/* #panel {    
    width: 16%;    
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}
.range-slider {  
    width: 30%;  
}  

.step {  
    width: 6%;  
}  

.step img {  
    width: 40%;  
}   */

#reverse {  
    float: left;
    
}
#forward {
    float: middle;
    }

#title{
    width: 1510px;
    height: 30px;
    padding: 5px;
    border-radius: 1%;
    text-align: center;
    background-color: #636363;
    color: #ff7800;
    margin: 0 auto;
    margin-bottom: 9px;
    font-family: Georgia, serif;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgb(168, 168, 168);
}

#mapcontent{
    border-style: inset; 
    border-width: 3px; 
    border-color: #7f8284; 
    background-color: #636363;
    padding: 10px; 
    margin-top: 3px;
    margin-bottom: 6px;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    color: #ff7800;
}

